.conteudo {
  margin-top: 200px;
  margin-left: 25%;
}
.mensagem {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  left: 610px;
}
.nomedousuario {
  animation: mudarCor 5s infinite;
}

@keyframes mudarCor {
  0% {
    color: rgb(233, 65, 255);
    text-shadow: 5px 5px 10px rgb(233, 65, 255);
  } /* Vermelho */
  25% {
    color: rgb(0, 0, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 255);
  } /* Azul */
  50% {
    color: #9231ff;
    text-shadow: 5px 5px 10px #9231ff;
  } /* Roxo */
  75% {
    color: #ff2554;
    text-shadow: 5px 5px 10px #ff2554;
  } /* Cor Especial */
  100% {
    color: rgb(233, 65, 255);
    text-shadow: 5px 5px 10px rgb(233, 65, 255);
  } /* Volta pro vermelho */
}
