/* Configurações do Site*/

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Painel lateral */
.menu {
  width: 250px;
  height: 100vh; /* Garantir que o menu ocupe toda a altura da página */
  max-width: 100vh;
  position: fixed; /* Fixar o menu na lateral */
  top: 0; /* Começar do topo da página */
  left: 0; /* Posicionar na lateral esquerda */
  background-color: #55079e;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permitir rolagem vertical caso o conteúdo ultrapasse a altura da tela */
  padding-bottom: 60px;
}

/* Perfil */
.menu .profile {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-weight: bold;
}

/* Navegação */
.menu nav ul {
  list-style: none;
  padding: 0;
}

.menu nav ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.2s;
}

.menu nav ul li.active,
.menu nav ul li:hover {
  background-color: #34495e;
}

/* Botão de tema */
.toggle-theme {
  margin-top: auto;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Conteúdo principal */
.content {
  margin-left: 250px; /* Garantir que o conteúdo não sobreponha o menu */
  padding: 30px;
  overflow-y: auto;
  background-color: #fdfdfd;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

/* Formulário */
label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 500;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

.principal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 80px;
}